@{
    ViewData["Title"] = "Home Page";
}


<div class="paddingall">
    <p>
        Hey there. Thanks for visiting this little project. This site was made to demonstrate the reasons why I want to work at BHHC.<br />
        Use the links above to navigate the site (or if you're on a mobile device, use the hamburger menu).<br />
        This site was made using ASP.NET Core 6, with Entity Framework and SQLite. All HTML, CSS, and JavaScript is hand-written (no JavaScript or CSS frameworks like JQuery or Bootstrap were used).
    </p>
</div>